
 <div class="fixed top-0 right-0 p2 nav-item">
    <span class="caps" style="padding-left:1vw;padding-right:1vw;"><a href="/">Home</a></span>
    <span class="caps" style="padding-left:1vw;padding-right:1vw;"><a href="volunteer_positions.html">Volunteer</a></span>
    <span class="caps bg-tab" style="padding-left:1vw;padding-right:1vw;"><a href="covid-19.html">Call for Projects</a></span>
    <span class="caps" style="padding-left:1vw;padding-right:1vw;"><a href="meetups.html">Events</a></span>
  </div>