body {
  	font-weight: 300;
  	font-family: 'Helvetica Neue', serif;
  	color:white;
  	background-color: #E30285;
  }

body a {
	color: #358EE4;
	text-decoration: underline;
}

p {

}

h2, h3, h4, h5 {
  font-weight: 500;
}

h1 {
	font-weight: 500;
}

footer {
	background-color: none;
	color: white;
}

.name {
	font-weight: 500;
	font-size: 100px;
	color: #FFE41E;
}


.bg-start{
	color:#2AFC98;
	background-color: white;
	background-image: linear-gradient(to top,rgba(207, 2, 121, 0.5),rgba(227, 2, 133, 0.2)), url("../images/group_image_1.jpg");
	background-size: 1400px;
	height: 900px;
}

.bg-start.small{
	height: 600px;
}

.bg-start.oneline {
	height: 500px;
}

.project-banner {
	color: white;
	background-color: rgba(207, 2, 121, 0.9);
	border-color: red;
	border-width: 10px;
	margin-top: 80px;
	border-radius: 5px;
	border-radius: 5px;
}


.bg-dark {
	color: white;
/*	background-color: #F9F3C9;*/
	background-image: linear-gradient(to bottom,rgba(3, 188, 150, 0.95),rgba(3, 154, 123, 0.95)), url("../images/lion_2.png");
}

.bg-shade {
	background-color: #F6F5EA;
	color: black;

}

.bg-medium {
	color: #300124;
	background-color: white;
}

.bg-column {
	color: #300124;
	background-color: white;
}

.logo {
	background-color: #E30285;
	color: white;
	font-weight: 700;
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;
	text-align: left;
}

.projects  h3 {
	font-weight: 600;
  color: black;
}

.projects  {
	color: #20063B;
	background-color: white;
	padding: 40px;
	height: 350px;
	margin: 0 auto;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
}


.projects-img {
	height: 300px;
	padding: 20px;
	border-top-left-radius: 3px;
	border-bottom-right-radius: 3px;
}



.bg-projects {
	color: white;
	background-image: linear-gradient(to bottom,rgba(3, 188, 150, 0.95),rgba(3, 154, 123, 0.95)), url("../images/lion_2.png");
	background-size: 1400px;
	border: none;
	padding-top: 2%;
	padding-bottom: 2%;
	z-index: 1000;
}

.bg-footer {
	color: white;
	background-image: linear-gradient(to top,rgba(227, 2, 133, 0.95),rgba(227, 2, 133, 0.95)), url("../images/lion_2.png");
	background-size: 1400px;
	border: none;
	padding-top: 2%;
	padding-bottom: 2%;
	z-index: 1000;
}

.footer-elem{
	margin: 0px;
	padding-bottom: 5px;
	padding-top: 5px;
	color: #9a69d8;
	background-color: none;
}

.bg {
	background-color: #E4572E;
}

hr.haar {
	border: 0;
    height: 20px;
    width: 10vw;
    background: #FFE41E;
    margin: 0 auto;
    margin-left: 0vw;
}

hr.haar-pink {
	border: 0;
    height: 20px;
    width: 10vw;
    background: transparent;
    margin: 0 auto;
    margin-left: 0vw;
}

hr.haar-h {
	border: 0;
    height: 10px;
    width: 10vw;
    background: #039A7B;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: 33px;
/*    margin: 0 auto;
    margin-bottom: 5px;*/
}

hr.haar-y {
	border: 0;
    height: 10px;
    width: 10vw;
    background: #FFE41E;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: 33px;
/*    margin: 0 auto;
    margin-bottom: 5px;*/
}


hr.haar-p {
	border: 0;
    height: 10px;
    width: 10vw;
    background: #E30285;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: 33px;
/*    margin: 0 auto;
    margin-bottom: 5px;*/
}


.contact-align {
	text-align: center;
}

.nav-bottom {
	background-color: #BA026D;
	color: white;
	font-weight: 500;
}

.nav-bottom a{
	color: white;
	font-weight: 700;
	text-decoration: underline;
}

.nav-bottom a:hover {
	color: white;
	font-weight: 500;
}



.team h3 {
	font-weight: 700;
}

.team {
	color: #20063B;
	padding: 0px;
	height: 220px;
	margin: 0 auto;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
}


.team-img {
	height: 10vh;
	width: 10vh;
	padding: 50px;
	border-radius: 75px;
}



.img-tom {
	background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.4)), url("../images/tom.jpg");
	background-size: 100px;
}

.img-zarinah {
	background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.4)), url("../images/zarinah.jpg");
	background-size: 100px;
}

.img-james {
	background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.4)), url("../images/james.jpg");
	background-size: 100px;
}

.img-anouk {
	background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.4)), url("../images/anouk.jpg");
	background-size: 100px;
}

.img-margreet {
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.4)), url("../images/margreet.jpg");
  background-size: 100px;
}

.img-james {
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.4)), url("../images/james.jpg");
  background-size: 100px;
}



.button {
	background-color: #E30285;
	height: 40px;
	width: 120px;
	border-radius: 3px;
	border:none;
	color: white;
	font-weight: 400;
  	text-align: center;
  	display: inline-block;
}

.button.yellow {
	background-color: #FFE41E;
	color: black

}

.button.long {
	width: 260px;
	border-radius: 3px;
	font-weight: 500;
	max-width: 50vw;
}

.button.large {
  width: 320px;
}

.button.long.underline {
	text-decoration: underline;
}
.button a {
  color: white;
}

.button a:hover {
  color: rgba(249, 2, 146, 1.0);
}

.nav-item {
	background-color: rgba(255,255,255,0.9);
	color:  #BA026D;
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
	text-align: right;
}

.nav-item a {
	color:  #BA026D;
	font-weight: 400;
	text-decoration: none;
}

.nav-item-small {
	visibility: hidden;
}

.bg-white-transparant {
		background-color: rgba(255,255,255,0.9);
	}

.button2 {
  background-color: #E30285;
  height: 55px;
  width: 140px;
  border-radius: 3px;
  border:none;
  color: white;
  font-weight: 400;
  text-align: center;
  display: inline-block;
}

.button2.large {
  width: 320px;
}

.button2 a {
  color: white;
}

.button2 a:hover {
  color: rgba(249, 2, 146, 1.0);
}


@media screen and (max-width: 920px) {

	.nav-item {
	visibility: hidden;
	}

	.nav-item-small {
		visibility: visible;
	}

	.nav-item-small {
	color:  #BA026D;
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
	text-align: left;
}

	.nav-item-small a {
	color:  #BA026D;
	font-weight: 400;
	text-decoration: none;
	}

	.projects {
		height: 700px;
		padding: 10px;
	}

	.team {
		height: 400px;
		margin: 20px;
	}

	.name {
		font-weight: 500;
		font-size: 2.1rem;
		padding-top: 20vh;
		color: #FFE41E;
	}

	h1 {
		font-weight: 400;
		font-size: 1.5rem;

	}

	.button.long.text {
		height: 65px;
	}

	.img-tom {
		background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.4)), url("../tom.jpg");
		background-size: 160px;
	}

	.img-zarinah {
		background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.4)), url("../zarinah.jpg");
		background-size: 160px;
	}

	.img-james {
		background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.4)), url("../james.jpg");
		background-size: 160px;
	}

	.img-anouk {
		background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.4)), url("../anouk.jpg");
		background-size: 160px;
	}

  .img-margreet {
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.4)), url("../margreet.jpg");
    background-size: 160px;
  }

  .img-james {
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.4)), url("../james.jpg");
    background-size: 160px;
  }

	.team-img {
	border-radius: 80px;
	}

}

.bg-tab {
	background-color: #BA026D;
	color: white;
	padding: 19px;
}

.bg-tab a {
	color: white;
}

.jobs {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
 
.jobs iframe {
   border: 0;
   height: 70vh;
   left: 0;
   position: absolute;
   top: 0;
   width: 100vh;
}
